<head>
    <title>External Script</title>
</head>
<body>
    <label>Rumus Luas Segitiga</label><br>
    <input id="Tinggi" type="number" placeholder="masukan Tinggi"/><br>
    <input id="Alas" type="number" placeholder="masukan Alas"/><br>
    <button id="Hitung">Hitung</button>
    <label>hasil:</label><label id="hasil">0</label><br>
    <br>
    <br>
    <label>konversi angka ke huruf</label><br>
    <input class="nilai_angka" type="number" placeholder="masukan nilai angka"/><br>
    <button onclick="konversi()">konversi</button><br>
    <label>nilai huruf kamu adalah :</label><label id="hasil2"></label><br>
    <br>
    <br>
    <label>Daftar Belanja</label><br>
    <input id="nama_barang" type="text" placeholder="Nama barang"/>
    <input id="jumlah" onkeyup="hitung_total()" type="number" placeholder="jumlah"/>
    <input id="harga" onkeyup="hitung_total()" type="number" placeholder="harga"/>
    <input id="total" type="number" readonly placeholder="total"/>
    <button onclick="cetak()">cetak</button><br>

    <script src="js/script1.js"></script>
</body>